rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This allows authenticated users to read and write
    // anything in firestore, but not delete anything.
    match /{document=**} {
      allow read, write: if request.auth.uid != null;
      allow delete: if false;
    }
  }
}
